<div class="container-fullwidth bg-dark text-light p-3">
  <div class="" id="top-route">
    <%= link_to root_path do %>
      <i class="fa fa-home"></i>
    <% end %>
    <%= link_to city_jobs_path(@city_name.to_url) do %>
    <% end %> >
    <% @industries_name.each_with_index do |name, index| %>
      <%= link_to industry_jobs_path(name.to_url) do %>
        <%= name %>
      <% end %>
      <%= "|" if index != @industries_name.count - 1 %>
    <% end %>
    >
    <%= @job.name %>
  </div>
</div>
<div class="container px-5">
  <div class="row my-3 p-3">
    <div class="col-12 col-md-10">
      <%= render "job_detail" %>
    </div>
    <div class="col-12 col-md-2 scroll-target">
      <button class="btn btn-block btn-lg btn-outline-info">Apply <i class="fa fa-send"></i></button>
      <button class="btn btn-block btn-lg btn-outline-danger">Save <i class="fa fa-heart"></i></button>
    </div>
  </div>
</div>
