<div class="col-md-10 col-lg-8 col-xl-8 mx-auto py-3 ">
  <% list_cities = City.all %>
  <% list_industries = Industry.all %>
  <%= form_tag(jobs_path, method: :get, class: "form-row has-search") do %>
    <div class="col-12 col-md-6 mb-md-0 no-padding">
      <span class="fa fa-search form-control-feedback"></span>
      <%= search_field_tag :search, params[:search], placeholder: "Search by job name, company name", class: "form-control rounded-left no-border-radius bg-light" %>
    </div>
    <div class="col-md-2 no-padding">
      <%= select_tag "city", options_from_collection_for_select(list_cities, "name", "name"), include_blank: "Select city", class: "form-control no-border-radius bg-light" %>
    </div>
    <div class="col-md-2 no-padding">
      <%= select_tag "industry", options_from_collection_for_select(list_industries, "name", "name"), include_blank: "Select industry", class: "form-control no-border-radius bg-light" %>
    </div>
    <div class="col-12 col-md-2 no-padding no-border-radius">
      <%= button_tag "", class: "h-100 btn btn-block btn-lg btn-info fa fa-search rounded-right no-border-radius", name: nil %>
    </div>
  <% end %>
</div>
