<div class="container-fullwidth text-center text-light py-3 bg-dark">
  <h2><small>•</small> Manage Requests Portal <small>•</small></h2>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2 my-5">
      <%= search_form_for @query, url: admins_requests_path, html: {class: "form-horizontal"} do |f| %>
        <div class="row">
          <div class="col-md-2 text-left my-auto">
            <%= f.label :email_cont, "Email (contains)", class: "label" %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :email_cont, class: "form-control mb-3" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 text-left my-auto">
            <%= f.label :city_id_eq, "City", class: "label" %>
          </div>
          <div class="col-md-10">
            <%= f.select :city_id_eq, options_from_collection_for_select(cities_list, "id", "name"), {include_blank: true}, class: "form-control mb-3" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 text-left my-auto">
            <%= f.label :industries_id_eq, "Industry", class: "label" %>
          </div>
          <div class="col-md-10">
            <%= f.select :industries_id_eq, options_from_collection_for_select(industries_list, "id", "name"), {include_blank: true}, class: "form-control mb-3" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 text-left my-auto"><%= f.label "Date" %></div>
          <div class="col-md-5"><%= f.date_field :created_at_gteq, class: "form-control input-sm", 'datepicker' => true %></div>
          <div class="col-md-5"><%= f.date_field :created_at_lteq, class: "form-control input-sm", 'datepicker' => true %></div>
        </div>
        <div class="pt-3 d-flex justify-content-center">
          <%= submit_tag 'Search', class: "btn btn-info px-5 mx-2" %>
          <%= link_to "Export CSV", admins_requests_path(q: request.params[:q], format: "csv"), class: "btn btn-outline-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="no-padding custom_pagination d-flex align-items-end flex-column bg-light">
  <div class="page_info p-2">
    <%= page_entries_info @request %>
  </div>
  <div class="p-2">
    <%= paginate @request %>
  </div>
</div>
<table class="table table-hover table-striped table-light no-padding">
  <tbody>
  <%= render partial: "requests/job", collection: @request %>
  </tbody>
</table>
