<div class="container-full bg-light p-5 form-container">
  <div class="text-center text-light p-5">
    <h1>CONFIRMATION</h1>
  </div>
  <div class="container bg-light border border-dark rounded-lg p-5">
    <%= render "step_navigation" %>
    <%= form_for (@request), url: job_requests_done_path(@job), method: :get, html: {class: "form-horizontal center"} do |f| %>
      <div class="form-row">
        <div class="col no-padding">
          <label>Job name:</label> <%= @job.name %>
        </div>
      </div>
      <div class="form-row">
        <div class="col no-padding">
          <label>Job company:</label> <%= @job.company_name %>
        </div>
      </div>
      <div class="form-row">
        <div class="col no-padding pr-2">
          <label>Full name:</label> <%= @request.fname %> <%= @request.lname %>
          <%= f.hidden_field(:fname, value: @request.fname) %>
          <%= f.hidden_field(:lname, value: @request.lname) %>
        </div>
      </div>
      <div class="form-row">
        <div class="col no-padding">
          <label>Email:</label> <%= @request.email %>
          <%= f.hidden_field(:email, value: @request.email) %>
        </div>
      </div>
      <div class="form-row">
        <div class="col no-padding">
          <label>CV link:</label> <%= @request.cv %>
          <%= f.hidden_field(:cv, value: @request.cv) %>
        </div>
      </div>

      <div class="row align-center">
        <div class="col-4 col-md-10 text-right">
          <%= link_to "Edit", new_job_request_path(request: { fname: @request.fname, lname: @request.lname, email: @request.email, cv: @request.cv }), method: :get, class: "btn btn-secondary py-2 px-4" %>
        </div>
        <div class="col-4 col-md-1 text-left">
          <%= f.submit "Submit", class: "btn btn-info px-5 py-2" %>
        </div>
      </div>
      </div>
    <% end %>
    </div>
</div>
