<div class="container-full bg-light p-5 form-container">
  <div class="text-center text-light p-5">
    <h1>APPLY FOR JOB</h1>
  </div>
  <div class="container bg-light border border-dark rounded-lg p-5">
    <%= render "step_navigation" %>
    <%= form_for (@request), url: job_requests_confirm_path(@job), method: :get, html: {class: "form-horizontal center"} do |f| %>
      <div class="form-row">
        <div class="col no-padding pr-2">
          <%= f.label :first_name, class: "label" %>
          <%= f.text_field :fname, class: "form-control input" %>
        </div>
        <div class="col no-padding">
          <%= f.label :last_name, class: "label" %>
          <%= f.text_field :lname, class: "form-control input" %>
        </div>
      </div>
      <div class="form-row">
        <div class="col no-padding">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, class: "form-control input" %>
        </div>
      </div>
      <div class="form-row">
        <div class="col no-padding">
          <%= f.label :cv, "Upload CV", class: "label" %>
          <%= f.text_field :cv, class: "form-control input" %>
        </div>
      </div>

      <div class="row align-center pt-5"> `
        <div class="col-4 col-md-10 text-right">
          <%= submit_tag("Reset", {name: "reset", id: "reset_button", type: "reset", class: "btn btn-secondary py-2"}) %>
        </div>
        <div class="col-4 col-md-1 text-left">
          <%= f.submit "Next", class: "btn btn-info px-5 py-2" %>
        </div>
      </div>
      </div>
    <% end %>
    </div>
</div>
