<div class="top-industries">
  <div class="container-fullwidth py-5 bg-light text-dark">
    <h2 class="text-center mt-0">Top industries</h2>
    <hr class="divider my-4 bg-info">
    <div class="row" id="info-box">
      <% @top_industries.each do |industry, job_count| %>
        <% next if job_count.zero? %>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <%= link_to industry_jobs_path(industry) do %>
                <h3 class="h4 mb-2"><%= industry.name %></h3>
                <p class="text-muted mb-0"><%= pluralize(job_count, "job") %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <div class="col-lg-3 col-md-6 text-center">
        <%= link_to industries_path do %>
          <div class="mt-5">
            <h3 class="h4 mb-2 text-dark see-more-text">See more</h3>
            <%= image_tag("see-more-btn.png", size: "25x25") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
