<!DOCTYPE html>                
<html>
<head>
  <%= render "layouts/head" %>
</head>
<body class="bg-light">
<% if current_page? root_path %>
  <%= render "layouts/home_header" %>
  <div class="container-fullwidth">
    <%= yield %>
  </div>
<% else %>
  <%= render "layouts/header" %>
  <div class="container-fullwidth">
    <%= render "layouts/alerts" %>
    <%= yield %>
  </div>
<% end %>
</body>
<%= render "layouts/footer" %>
</html>
