<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<body>
<%= render "layouts/header" %>
<div class="container-fullwidth">
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
  <%= yield %>
</div>
</body>
<%= render "layouts/footer" %>
</html>
